.block{
	font-size: 19px;
	width: 180px;
	height: 130px;
	color: #fff;
	background: blue;
	box-sizing: border-box;
	margin-bottom: 100px;
	}margin-top: 30px;
}

.new{
	background: green;
	color: #fff;
}  

.first{
	background: green;
	color: #fff;
    padding: 50px;

}

.second{
	color: red;
}

.third{ 
	padding-left: 200px;

}

li{
	box-sizing: border-box;
	border: 1px solid black;
